body {
  background-repeat: no-repeat;
  height: 100vh;
}

.con {
  background: #2b35af;
  background-repeat: no-repeat;
  height: max-content;
  width: 330px;
  border-radius: 10px;
  margin: 2em auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputval {
  height: 50px;
  width: 96%;
  margin-top: 40px;
  border-radius: 6px;
  color: #fff;
  font-size: 40px;
  background: transparent;
  text-align: right;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(245, 245, 245, 0.2),
    0 6px 20px 0 rgba(255, 254, 254, 0.19);
}

.res {
  height: 10px;
  width: 96%;
  margin-top: 20px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 40px;
  background: transparent;
  border: none;
  text-align: right;
  margin-bottom: 70px;
}

.btncon {
  height: 300px;
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #000000;
}

.num {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
}

.num1 {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.exp {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.btns {
  height: 74px;
  width: 80px;
  background: transparent;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
